certifi==2023.11.17
charset-normalizer==3.3.2
filelock==3.13.1
idna==3.4
intel-extension-for-pytorch==2.0.110+xpu
Jinja2==3.1.2
MarkupSafe==2.1.3
mpmath==1.3.0
networkx==3.2.1
numpy==1.26.2
Pillow==10.1.0
psutil==5.9.6
requests==2.31.0
sympy==1.12
torch==2.0.1a0+cxx11.abi
torchvision==0.15.2a0+cxx11.abi
typing_extensions==4.8.0
urllib3==2.1.0
