absl-py==2.0.0
appdirs==1.4.4
asttokens==2.4.0
attrs==23.1.0
automat==22.10.0
backcall==0.2.0
cachetools==5.3.2
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
comm==0.1.4
constantly==15.1.0
construct==2.10.68
contourpy==1.1.1
cv==1.0.0
cycler==0.12.1
debugpy==1.8.0
decorator==5.1.1
docker-pycreds==0.4.0
docutils==0.20.1
exceptiongroup==1.1.3
executing==2.0.0
filelock==3.12.4
fonttools==4.43.1
fsspec==2023.9.2
gitdb==4.0.11
gitpython==3.1.40
google-auth-oauthlib==1.1.0
google-auth==2.23.4
grpcio==1.59.2
hyperlink==21.0.0
idna==3.4
importlib-metadata==6.8.0
incremental==22.10.0
ipykernel==6.25.2
ipython==8.16.1
jaraco.classes==3.3.0
jedi==0.19.1
jinja2==3.1.2
jupyter-client==8.4.0
jupyter-core==5.4.0
keyring==24.2.0
kiwisolver==1.4.5
markdown-it-py==3.0.0
markdown==3.5.1
markupsafe==2.1.3
matplot==0.1.9
matplotlib-inline==0.1.6
matplotlib==3.8.0
mdurl==0.1.2
mnist==0.2.2
more-itertools==10.1.0
mpmath==1.3.0
nest-asyncio==1.5.8
networkx==3.1
nh3==0.2.14
numpy==1.26.1
oauthlib==3.2.2
opencv-python==4.8.1.78
packaging==23.2
pandas==2.1.1
parso==0.8.3
pathtools==0.1.2
pickleshare==0.7.5
pillow==10.1.0
pip==23.3
pkginfo==1.9.6
platformdirs==3.11.0
ply==3.11
prompt-toolkit==3.0.39
protobuf==4.23.4
psutil==5.9.6
pure-eval==0.2.2
pyasn1-modules==0.3.0
pyasn1==0.5.0
pycryptodomex==3.19.0
pygments==2.16.1
pyloco==0.0.139
pyparsing==3.1.1
pysmi==0.3.4
pysnmp==4.4.12
python-dateutil==2.8.2
pytz==2023.3.post1
pywin32-ctypes==0.2.2
pywin32==306
pyyaml==6.0.1
pyzmq==25.1.1
readme-renderer==42.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
requests==2.31.0
rfc3986==2.0.0
rich==13.6.0
rsa==4.9
sentry-sdk==1.34.0
setproctitle==1.3.3
setuptools==65.5.0
simplewebsocketserver==0.1.2
six==1.16.0
sklearn==0.0.post10
smmap==5.0.1
stack-data==0.6.3
sympy==1.12
tensor==0.3.6
tensorboard-data-server==0.7.2
tensorboard==2.15.1
torch==2.1.0
torchaudio==2.1.0
torchvision==0.16.0
tornado==6.3.3
tqdm==4.66.1
traitlets==5.11.2
twine==4.0.2
twisted-iocpsupport==1.0.4
twisted==23.8.0
typing-extensions==4.8.0
typing==3.7.4.3
tzdata==2023.3
urllib3==2.0.6
ushlex==0.99.1
wandb==0.15.12
wcwidth==0.2.8
websocket-client==1.6.4
werkzeug==3.0.1
zipp==3.17.0
zope.interface==6.1